1 VERSIONINFO
FILEVERSION 1,3,4,0
PRODUCTVERSION 1,3,4,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "FileDescription", "Qonsole - Quake-like Console Emulator"
		VALUE "FileVersion", "1.3.4"
		VALUE "InternalName", "Qonsole"
		VALUE "LegalCopyright", "(C) 2016, joedf@ahkscript.org"
		VALUE "OriginalFilename", "Qonsole.exe"
		VALUE "ProductName", "Qonsole"
		VALUE "ProductVersion", "1.3.4"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0
}
}

